<div class="d-flex">
    <div class="shadow bg-white border vh-100 wh-100" style="width: 17%;">
        <div class="d-flex justify-content-center mt-4">
            <img src="../../../assets/logo/orien_transparent.png" style="width: 70px;" alt="">
        </div>
        <div>
            <div class="mt-4">
                <nav>
                    <div class="bg-white shadow-sm d-flex align-items-center border px-2 py-2 pointer" routerLink="/">
                        <span class="material-symbols-outlined" style="font-size: 20px;">dashboard</span>
                        <h6 class="head-p5 mb-0 px-1">Dashboard</h6>
                    </div>
                    <div class="bg-white shadow-sm border py-2 d-flex align-items-center px-2 pointer" routerLink="/project">
                        <span class="material-symbols-outlined" style="font-size: 20px;">apartment</span>
                        <h6 class="head-p5 mb-0 px-1">Project</h6>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="px-3 py-2" style="width: 83%;">
        <router-outlet></router-outlet>
    </div>
</div>